:root {
    --background_color_one: #fff;

}

html, body{
    height: 100%;
}

body {
    margin: 0;
    background: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    min-height: 10rem;
    background-color: var(--background_color_one);
    border-right: 1px snow;
    border-right: 1px snow;
    box-sizing: border-box
}

.inner{
    width: 100%;
    max-width: 73.125rem;
    margin: 0 auto;
    height: inherit;
}

.header_inner{
display: flex;
text-align: center;
}

.header {
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    font-size: 300%;
    margin-top: 3rem;
}

.page_menu {
    text-align: center; 
}

.page_menu a{
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 200%;
    padding: 1rem;
    margin: 1rem;
}

.page_menu a.active, .page_menu a:hover {
    background: #000000;
    box-shadow: 0px 15px 40px #fff;
    border-radius: 5px;
    color: #fff;

}