:root {
    --background_color_one: #fff;

}

html, body{
    height: 100%;
}

body {
    margin: 0;
    background: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    min-height: 10rem;
    background-color: var(--background_color_one);
    border-right: 15px snow;
    border-right: 15px snow;
    box-sizing: border-box;
    -webkit-box-shadow: 10px 10px 162px 72px rgba(255,255,255,1);
-moz-box-shadow: 10px 10px 162px 72px rgba(255,255,255,1);
box-shadow: 10px 10px 162px 72px rgba(255,255,255,1);
border-radius: 47px 47px 47px 47px;
-moz-border-radius: 47px 47px 47px 47px;
-webkit-border-radius: 47px 47px 47px 47px;
border: 0px solid #ffffff;
}

.inner{
    width: 100%;
    max-width: 73.125rem;
    margin: 0 auto;
    height: inherit;
}

.header_inner{
display: flex;
text-align: center;
}

.header {
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    font-size: 250%;
    margin-top: 2rem;
}

.page_menu {
    text-align: center;
    border: 1px solid black; 
}

.page_menu a{
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 150%;
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
}

.page_menu a.active, .page_menu a:hover {
    background: black;
    box-shadow: 0px 15px 40px rgb(114, 0, 0);
    border-radius: 5px;
    color: #fff;
}

.head_line{
    padding: 5%;
    text-align: center;
    font-family: lora;
    font-size: 1rem;
}

.sky {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text_first {
    background : none repeat scroll 0 0 rgba(0, 0, 0, 0.5); 
  box-shadow : 0 -6px 0 rgba(255, 255, 255, 0.2); 
  color : rgba(255, 255, 255, 0); 
  display : inline; 
  font-family : lora; 
  font-style : italic; 
  font-size : 28px; 
  line-height : 46px; 
  text-shadow : 0 1px 1px rgb(255, 255, 255);  
}

.text_two {
    font-family: lora;
    font-size: 20px;
    color: white;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
}
